</div> <!-- /#page -->
<div id="footer-stripe" class="grid-container">
    <div class="row">
        <div class="col-1-sm"></div>
        <div class="col-10-sm">{{copyright}}</div>
        <a href="#top" id="a-top">⇡&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>
</div>
</div> <!-- /#page-container -->
<script type="application/javascript"
         src="/assets/js/mattaudesse.com.js"></script>
</body>
</html>
