<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="author"      content="Matt Audesse">
<meta name="description" content="{{description}}">
<meta name="viewport"    content="width=device-width, initial-scale=1">
<meta name="google-site-verification"
   content="dXmiKuANhpYP8NUSjKeJGv_mrjTov79W1PmR5Kmn1vE" />

<link href="/assets/js/mattaudesse.com.js"
       rel="preload"
        as="script" />

<link href="/assets/img/fav/favicon.ico"
       rel="preload"
        as="image" />
<link href="/assets/img/fav/favicon.ico"
       rel="shortcut icon"
      type="image/x-icon" />

<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Droid+Sans"
       rel="preload"
        as="style" />
<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Droid+Sans"
       rel="stylesheet"
      type="text/css" />

<link href="/assets/style/mattaudesse.com.css"
       rel="preload"
        as="style" />
<link href="/assets/style/mattaudesse.com.css"
       rel="stylesheet"
      type="text/css" />

<title>{{title}}</title>
</head>
<body>
<div id="page-container">
<div id="top-stripe"></div>
<div id="page">
