{{> static/templates/_top.tmpl }}
<div id="root-404" class="grid-container">

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 center">
            <h1>404</h1>
        </div>
    </div>

    <div id="row-home-icon" class="row">
        <div class="col-4"></div>
        <div class="col-4 center">
            <a href="/">
                <img class="tilt-on-hover"
                       alt="Go home"
                       src="/assets/img/icon-home.png">
            </a>
        </div>
    </div>

</div><!-- /.grid-container -->
{{> static/templates/_bottom.tmpl }}
